# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BilgeAdam\restaurant-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
